<!DOCTYPE html>
<!--
	Moon by GetTemplates.co

-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SPORT NEWS</title>
    <meta name="description" content="Core HTML Project">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- External CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/select2/select2.min.css">
    <link rel="stylesheet" href="vendor/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/lightcase/lightcase.css">

    <!-- Fonts -->
    

    <!-- CSS -->
    <link rel="stylesheet" href="css2/style.min.css">
   
    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
  

</head>
<body data-spy="scroll" data-target="#navbar-nav-header" class="single-layout">
	<div class="boxed-page">
		<nav id="gtco-header-navbar" class="navbar navbar-expand-lg py-4">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <span class="lnr lnr-moon"></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav-header" aria-controls="navbar-nav-header" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav-header">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  
                </li>
            </ul>
        </div>
    </div>
    
</nav>		<div class="jumbotron d-flex align-items-center" style="background-image: url(img/ps0.jpeg)">
  <div class="container text-center">
    <h1 class="display-2 mb-4 single-blog-title">ข่าวกีฬาที่น่าสนใจ</h1>
  </div>
</div>		<!-- Contact Form Section -->
<section id="gtco-single-content" class="bg-white">
    <div class="container">
        <div class="section-content blog-content">
            <div class="row">
                <!-- Single Content Holder -->
                <div class="col-md-8 offset-md-2 mt-4">
                    <h4>“ครัวมาดาม” เจาะกลยุทธ์การตลาดทีมฟุตบอลท่าเรือฯ ในวันที่โลกเจอวิกฤติ</h4><br>
                   <center>
                    <img class="float-top" width="520px" src="img/ps1.jpg" alt="">
                   </center><br><br>

                <b><p>วิกฤติการแพร่ระบาดของไวรัส โควิด-19 ส่งผลให้แทบทุกชีวิตต้องพบเจอกับความยากลำบากกว่าที่เคยเป็นมา</p></b>
                <p>มีผู้คนมากมายตกงาน, รายได้ลดลง หลายครอบครัวใช้ชีวิตกันอย่างขัดสน ขาดแคลนทั้งความหวัง กำลังใจ และการช่วยเหลือจากส่วนกลางที่ไม่สามารถครอบคลุมกระจาย ไปถึงทุกชีวิตที่เดือดร้อน </p>

                <p>คนจำนวนหนึ่ง อาจกินอิ่มนอนหลับ เพราะไม่ได้รับผลกระทบมากนัก ยังพอมีเรี่ยวแรง และทุนทรัพย์ในการดำรงชีวิตต่อไป แต่ยังมีผู้คนอีกไม่น้อย ที่ต้องดิ้นรน เพื่อหาเงินที่จำนวนมากพอ
                     สำหรับซื้ออาหารประทังชีพในแต่ละวัน บนโลกที่ความเท่าเทียมเป็นเพียง อุดมคติ</p>

                <p> <b>“การแบ่งปัน”</b> จึงเป็นสิ่งที่สังคมโหยหา ... ในวิกฤติครั้งนี้ เราได้เห็น ผู้คนมากมายที่ออกมาเสียสละทุนทรัพย์ เวลา และการทำลงมือเพื่อคนที่ยากลำบากกว่า ใช่แหละ ... ตามโครงสร้างแล้ว
                     มันควรเป็นหน้าที่ของรัฐ แต่บางคนก็ไม่ต้องการรอให้ภาครัฐลงมืออยู่ฝ่ายเดียว เพราะความหิวโหยมันรอกันไม่ได้  </p>

                <p>
                    ในหลายๆ โครงการ ที่มีการช่วยเหลือคนในสังคม มีหนึ่งโครงการที่เกิดขึ้นจาก คนในวงการลูกหนัง นั่นคือ “ครัวมาดาม” ที่มีโต้โผหลักได้แก่ นวลพรรณ ล่ำซำ ประธานสโมสรฟุตบอล 
                    การท่าเรือ เอฟซี ที่สลัดภาพผู้บริหารหญิงแกร่งมาจับตะหลิว ปรุงอาหารสดใหม่ แจกจ่ายให้กับผู้คนในชุมชนต่างๆ ในกรุงเทพมหานครฯ เมืองหลวงอันแสนกว้างใหญ่ และมีหลายครัวเรือนที่อยู่ห่างไกลจากความช่วยเหลือของรัฐ
                </p>

                <b>ในวันที่ยากลำบาก </b>
                <p>ไม่มีธุรกิจไหนในโลก ที่ปราศจากผลกระทบจากวิกฤติไวรัส โควิด-19 ในวันที่ฟุตบอลไทย ต้องหยุดทำการแข่งขันไปอย่างน้อยถึง เดือนกันยายน “การท่าเรือ เอฟซี”
                     ที่ทุ่มเม็ดเงินไปมากมายในการทำทีม ซื้อตัวผู้เล่น เพื่อหวังความสำเร็จในฤดูกาลนี้ ต้องพับโปรเจกต์ลุ้นแชมป์ของพวกเขาไปก่อน</p>

                <p>เพราะ ณ เวลานี้ ไม่มีใครล่วงรู้อนาคตว่า สถานการณ์ของ โควิด-19 จะลงเอยเมื่อไหร่? และถ้าสมมติมีการแพร่ระบาดใหญ่รอบสองเกิดขึ้น สโมสรเจ้าบุญทุ่มแห่งนี้ จะยิ่งช้ำแค่ไหน</p>

                <center>
                    <img class="float-top" width="520px" src="img/ps2.jpg" alt="">
                   </center><br><br>
                <p>Photo : การท่าเรือ เอฟซี Port FC</p>
                <p>ไม่เพียงเท่านั้น ในช่วงที่ไม่มีเวลาบอลแข่ง ยังทำให้แฟนคลับ กับสโมสร ถูกเว้นว่างระยะให้ห่างกันออกไปกว่าเดิม </p>

                <p>เราไม่อาจทราบได้ว่า เมื่อถึงเวลาที่ฟุตบอลไทยกลับมาหวดแข้งอีกครั้ง แฟนบอลจะยังคงเข้าสนามเหมือนเดิมหรือไม่? พวกเขาจะยังสนับสนุนทีมโปรดต่อไปหรือเปล่า 
                    เพราะโลกก่อน โควิด-19 และหลัง โควิด-19 แทบจะเป็นโลกคนละใบ ที่มนุษย์มีความเปลี่ยนแปลงไปในหลายๆ ด้าน </p>

                <p>ในวิกฤติที่สโมสรต่างๆ ต้องแบกรับค่าใช้จ่าย โดยไม่มีรายรับเข้ามา การเกิดขึ้นของโครงการที่ชื่อ “ครัวมาดาม” คือการพลิกวิกฤติของสโมสร ให้เป็นโอกาสในการตอบแทนสังคม
                     และสร้างความสัมพันธ์อันดีต่อผู้คนในท้องถิ่น ที่เป็นฐานกำลังหลักของการสนับสนุนสโมสร</p>

                <p>การท่าเรือ เอฟซี ภายใต้การบริหารงานของ <b>“มาดามแป้ง”</b> มีประสบการณ์อย่างมาก ในการทำกิจกรรมสาธารณประโยชน์แบบไม่แสวงหากำไรเพื่อสังคม ... โดยปกติการจะลงมือทำ CSR สักโครงการ ต้องใช้ระยะเวลาในการแผนวาง 
                    และเตรียมงาน แต่การตัดสินใจของเธอ คือ การเลือกที่จะลงมือทำทันที ในการเข้าไปช่วยเหลือ และบรรเทาความทุกข์ของผู้คนที่ได้รับความเดือดร้อน จากพิษวิกฤติครั้งนี้ ซึ่งเป็นสิ่งที่ไม่อาจรอได้ </p>

                <p>เริ่มจากการจัดกิจกรรม<b> “คลองเตยดีดี”</b> ที่เป็นการลงพื้นที่ไปยังชุมชนกว่า 43 แห่งในย่านคลองเตย เพื่อสอนประชาชน ทำหน้ากากผ้า, เจลล้างมือ, สเปรย์แอลกอฮลล์ รวมถึงตั้งครัวทำข้าวกล่องแจกฟรี ให้กับพี่น้องประชาชน เพราะในเวลานั้น
                     มีผู้คนจำนวนมากได้รับผลกระทบจากการถูกเลิกจ้าง หรือบางคนไม่สามารถประกอบอาชีพได้ตามปกติ </p>
                
                <p>หลังจากทำโครงการ คลองเตยดีดี ไปได้สักระยะ สิ่งที่มาดามแป้งได้ค้นพบก็คือ ยังมีคนที่เดือดร้อนและต้องการความช่วยเหลืออีกเป็นจำนวนมาก โดยเฉพาะเรื่องอาหารในการประทังชีวิต</p>

                <p>นั่นจึงทำให้เกิดโครงการต่อเนื่องในชื่อ <b> “ครัวมาดาม” </b> ที่มีการแจกอาหารปรุงสุกใหม่ และถุงยังชีพที่มีอาหารแห้ง ไว้ให้สำหรับผู้คนที่เข้ามาร่วมกิจกรรม </p>

                <center>
                    <img class="float-top" width="520px" src="img/ps3.jpg" alt="">
                   </center><br><br>
                   <p>Photo : คลองเตยดีดี</p>

                   <p>ในแรกเริ่ม <b>“ครัวมาดาม”</b> จะลงพื้นที่ในชุมชนต่างๆ ที่อยู่ร่ายรอบสโมสร เช่น คลองเตย, พระรามสี่, สุขุมวิท, ยานนาวา ฯลฯ โดยเน้นไปยังชุมชน ที่ประชากรส่วนใหญ่
                        มีชีวิตความเป็นอยู่ยากลำบาก หาเช้ากินค่ำ มีปัญหาเรื่องรายได้ มากกว่าจะแจกจ่าย ตามหมู่บ้านที่ คนชนชั้นกลางค่อนบนขึ้นไปอาศัยอยู่ </p>

                    <p>หลังจากนั้น <b>“ครัวมาดาม”</b> ได้มีการขยายโครงการออกไปแจกจ่ายอาหารสด อาหารแห้ง แก่ชุมชนอื่นๆ นอกเหนือเขตที่เป็นฐานแฟนคลับของสโมสร อาทิ หนองแขม, 
                        ภาษีเจริญ, บางขุนเทียน, มีนบุรี, บางกะปิ, ดินแดง, ห้วยขวาง, ลาดพร้าว, บางเขน ฯลฯ </p>

                    <p>กิจกรรมในครั้งนี้ จึงไม่ได้เลือกจากการดูว่า สถานที่ไหนเป็นฐานที่ตั้งของแฟนคลับเท่านั้น แต่เป็นการเลือกจากพื้นที่มีผู้ได้รับความเดือดร้อนจริง และต้องการความช่วยเหลือ </p>

                    <b>เป็นหนึ่งเดียวกัน </b>

                    <p>ความพิเศษของ <p>“ครัวมาดาม”</p> อยู่ตรงที่การนำ นักเตะระดับซูเปอร์สตาร์ของ การท่าเรือ เอฟซี, นักฟุตบอลหญิงทีมชาติไทย และนักร้อง-นักแสดง ระดับประเทศ มาร่วมทำกิจกรรมมอบความบันเทิง
                         และใกล้ชิดกับ คนในชุมชนต่างๆ เพื่อสร้างขวัญกำลังใจ และมอบความสุขแก่ประชาชนที่มาร่วมโครงการ</p>
                         <center>
                            <img class="float-top" width="520px" src="img/ps4.jpg" alt="">
                           </center><br><br>
                <p>Photo : การท่าเรือ เอฟซี Port FC</p>

                <p>ตุ้ย ธีรภัทร์, ก้อง สหรัถ, ชาริล ชัปปุยส์, ธนบูรณ์ เกษารัตน์, ป้อง ณวัฒน์ ฯลฯ คือ ส่วนหนึ่งเท่านั้นของบุคคลที่มีชื่อเสียง ที่ตบเท้าเข้ามาร่วมโครงการ
                     “ครัวมาดาม” ซึ่งเรียกรอยยิ้ม และความสุขที่ดีจากผู้รับ ในยามที่กำลังใจ เป็นสิ่งสำคัญในการผลักดันให้ ผู้คน ลุกขึ้นสู้ชีวิตต่อ </p>

                <p>การที่ สโมสรลงมาทำกิจกรรมสาธารณประโยชน์ เพื่อชุมชน ในยามที่ผู้คนตกทุกข์ได้ยาก มันทำให้คนในพื้นที่ต่างเกิดความรู้สึกว่า สโมสรกับชุมชนเป็นหนึ่งเดียวกันกับพวกเขา มีความใกล้ชิด และไม่ทอดทิ้งกันในยามลำบาก </p>

                <p>การท่าเรือ เอฟซี ฉลาดในการเลือกนำเอา นักฟุตบอล ที่เป็นทรัพย์สินอันมีค่ามากสุดของสโมสร มาทำกิจกรรมด้วย</p>

                <p>หลายสโมสรในไทย มักคิดว่า นักฟุตบอล มีหน้าที่แค่เล่นให้ดี ทำให้ทีมชนะเท่านั้น แต่ความเป็นจริง นักเตะอาชีพ มีประโยชน์มากกว่านั้น เพราะพวกเขาเป็นกลุ่มบุคคลที่สังคมให้ความสนใจ
                     และกระตุ้นให้เกิดการรับรู้ได้ง่ายกว่า การทำกิจกรรมที่ไม่มีบุคคลสาธารณะร่วมอยู่ด้วย ตัวนักเตะของการท่าเรือฯ แม้ว่าจะถูกหักเงินเดือนบ้าง
                     ตามสถานการณ์ที่ไม่ปกติแบบนี้ แต่พวกเขารู้ดีว่า พวกเขายังโชคดีกว่าหลายๆ คนที่หิวโหย และไม่มีใครอิดออดกับการเข้าร่วมกิจกรรมในทุกๆ ครั้งที่ถูกเรียกตัว </p>

                     <center>
                        <img class="float-top" width="520px" src="img/ps5.jpg" alt="">
                       </center><br><br>
                    <p>Photo : การท่าเรือ เอฟซี Port FC </p>

                    <p>ความรู้สึกของผู้รับ ย่อมส่งผลต่อเนื่องไปถึง ภาพลักษณ์ขององค์กรในการดูแลของ มาดามแป้ง ทั้ง สโมสรการท่าเรือ เอฟซี และ เมืองไทยประกันภัย ในด้านของการเป็นองค์กรที่ห่วงใยต่อสังคม เกิดการรับรู้ที่ดีต่อแบรนด์ 
                        นำไปสู่โอกาสในวันข้างหน้า ที่ผู้รับเหล่านี้ จะหันมาสนับสนุนทีม และอยากอุดหนุนสินค้า บริการของสโมสร และธุรกิจประกันชีวิต (ถ้าต้องเลือกทำกับสักแบรนด์) </p>

                    <p>เราจะได้เห็นจากการที่ แฟนคลับสิงห์เจ้าท่าบางราย เดินทางตามไปช่วยกิจกรรม เข้ามาเป็นอาสาสมัครของโครงการ รวมถึงให้ความร่วมมือกับสโมสร ในกิจกรรมนี้ </p>

                    <p>เพราะแฟนคลับรู้! ทุกคนรู้! กิจกรรมนี้ดีต่อชุมชนที่เขาอาศัย ดีต่อภาพลักษณ์ของสโมสรที่เขาเชียร์ และสำคัญที่สุด พวกเขารู้สึกดีที่ได้เป็นส่วนหนึ่งของโครงการที่ทำประโยชน์เพื่อส่วนรวม</p>

                <b>สังคมการแบ่งปัน</b>

                <p>ตลอดระยะเวลา 1 เดือนครึ่งของ ครัวมาดามแป้ง สิ่งที่เราเห็นมากกว่าแค่ การแจกอาหารฟรี คือ สังคมแห่งการแบ่งปัน </p>
                
                <center>
                    <img class="float-top" width="520px" src="img/ps6.jpg" alt="">
                   </center><br><br>
                   <p>Photo : คลองเตยดีดี</p>

                   <p>เพราะโครงการนี้ ไม่ได้มีเพียงแค่บริษัทประกันของ <b>“มาดามแป้ง”</b> และ สโมสรการท่าเรือ เอฟซี เท่านั้นที่เป็นผู้ให้ แต่ยังมีภาคเอกชนขนาดใหญ่, ร้านอาหาร ร้านค้าในชุมชน, ประชาชนทั่วไป มาร่วมกันบริจาค
                        ทั้งในรูปแบบของ เงินสด, สิ่งของต่างๆ เช่น ข้าวสาร อาหารแห้ง, ไข่ไก่, น้ำมันพืช, เครื่องปรุงรสต่างๆ ในศูนย์รับบริจาคกลางของโครงการ ที่ตั้งอยู่ ณ วัดคลองเตยใน </p>

                    <p>จนทำให้โครงการนี้ ลุล่วงไปได้ด้วยดี และสามารถเข้าลงพื้นที่เข้าถึง ชุมชนได้ร่วม 100 แห่ง เพราะทุกคนที่เข้ามาเป็นผู้ให้ ต่างต้องการแบ่งปันธารน้ำใจ ไปยังที่ผู้ที่ลำบากกว่าตน ที่กำลังต้องการความช่วยเหลือ 

                    </p>

                    <center>
                        <img class="float-top" width="520px" src="img/ps7.jpg" alt="">
                       </center><br><br>
                       <p>Photo : คลองเตยดีดี</p>

                       <p>นับเป็นอีกหนึ่งโมเดลที่ทำให้เห็นว่า แม้ในวันที่ไม่มีบอลแข่งขัน สโมสรกับท้องถิ่น ก็สามารถสร้างความสัมพันธ์ และมีความใกล้ชิดกันได้ ในการทำกิจกรรมดีๆ เพื่อส่วนรวม</p>
                       
                       <p>และมันคงดีไม่น้อย หากทุกๆสโมสร ลงมาทำโครงการแบบนี้ กับท้องถิ่น และชุมชนรอบข้าง ในวันที่ยังไม่มีฟุตบอลให้ดูและเชียร์ แต่ชีวิตของทุกคนยังคงต้องดำเนินต่อไป</p>

                       


                    



                




                    




                    
                    
                    

                

                

                




                
                

                




                  





                </div>
                <!-- End of Contact Form Holder -->
            </div>
        </div>
    </div>
</section>
<!-- End of Contact Form Section -->		<footer class="mastfoot mb-3 bg-white py-4 border-top">
    <div class="inner container">
         <div class="row">
         	<div class="col-md-6 d-flex align-items-center justify-content-md-start justify-content-center">
         		<p class="mb-0">&copy;  ลิขสิทธิ์ @2020.สงวนลิฃสิทธิ์ คัลเลอร์ลิป</p>
         	</div>
    
            <div class="col-md-6">
            	<nav class="nav nav-mastfoot justify-content-md-end justify-content-center">
	                <a class="nav-link" href="#">
	                	<i class="icon-facebook"></i>
	                </a>
	                <a class="nav-link" href="#">
	                	<i class="icon-twitter"></i>
	                </a>
	                <a class="nav-link" href="#">
	                	<i class="icon-instagram"></i>
	                </a>
	                <a class="nav-link" href="#">
	                	<i class="icon-linkedin"></i>
	                </a>
	                <a class="nav-link" href="#">
	                	<i class="icon-youtube"></i>
	                </a>
	                <a class="nav-link" href="#">
	                	<i class="icon-pinterest"></i>
	                </a>
	            </nav>
            </div>
            
        </div>
    </div>
</footer>	</div>
	
</div>
	<!-- External JS -->
	
	<script src="vendor/bootstrap/popper.min.js"></script>
	<script src="vendor/bootstrap/bootstrap.min.js"></script>
	<script src="vendor/select2/select2.min.js "></script>
	<script src="vendor/owlcarousel/owl.carousel.min.js"></script>
	<script src="vendor/isotope/isotope.min.js"></script>
	<script src="vendor/lightcase/lightcase.js"></script>
	<script src="vendor/waypoints/waypoint.min.js"></script>
	<script src="vendor/countTo/jquery.countTo.js"></script>

	<!-- Main JS -->
	<script src="js2/app.min.js "></script>
	<script src="//localhost:35729/livereload.js"></script>
</body>
</html>
